/* Flexible Returns Authorization (RMA) CSS*/

select {
height: 40px;
margin-left: 0 !important;
}
textarea {
margin: 0 0.1em 0 0;
    width: 50%;

}

div#returnAddressWrapper {
border:1px solid #E9E9E9;
background:#FFE573;text-align:center;
} 

div#returnSuccess {
font-size:1.2em;
padding:5px;
color:#606060;
} 

div#returnAddressWrapper, div#returnRequired, div#returnPolicy, div#returnRMA, div#returnAddress, div#returnPhone {
font-size:1.5em;
font-weight:bold;
padding:5px; 
} 

div#returnRequired, div#returnAddress {
color:#FF0000;
}

div.alert {
float:right;
/*text-align:left;
line-height:1.5em;*/
/*width:28.5em;*//*reduce the width to keep right of text input*/
font-weight:bold;
}

div#reason.alert {
/*width:22.5em;*/ /*reduce the width to keep right of textarea input*/
margin-top: -15.75em;
}

div.alert_stack {
font-weight:bold;
margin:-1.9em 0 0 3em;
}